.anime-list {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(300px, 1fr)); 
  grid-gap: 20px; 
  justify-items: center; 
}

.anime-card {
  width: 300px;
  background-color: #252525;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 10px;
  text-align: center;
  padding: 10px;
}

.anime-card img {
  max-width: 100%;
  height: auto;
}

.anime-card h2 {
  margin-top: 10px;
  font-size: 1.2rem;
}

h2 {
  color: #ffff;
}